header {width:100%; padding:10px 0; background-color:transparent; position:fixed; top:0; left:0; right:0; z-index:10;  display:flex; justify-content:space-around; align-items:center;}
header h1 {color:#fff; font-size:32px;}
header > ul {display:flex; visibility:visible;}
header ul > li > a {padding:0 20px; font-weight: 600;}
header ul > li > a:hover {color:royalblue;}
.hamber_btn {display:none;}
.close {display:none;}
@media screen and (max-width:800px) {
  header {width:100%; padding:20px 0;}
  header > ul {
  background-color: #fff;; position:fixed; top:0; left:-2000px; right:0; bottom:0; display:flex; flex-direction: column; align-items:center; justify-content:center; transition: all 0.3s; opacity: 0; visibility:hidden;}
  .close {position:absolute; top:20px; right:20px; display: block;}
  .close  button {font-size:24px;}
  header > ul li  a {padding:20px 0;}
  .hamber_btn {display:block;}
  /* Hamberger_Menu */
  .hamber_btn {width:50px; height:50px; position:absolute; right:20px; cursor:pointer;}
  .hamber_btn > span {position:absolute; top:50%; right:0; left:0; height:5px; background:#000; border-radius:10px; display:block; transition:all 0.5s;}
  .hamber_btn > :nth-child(1) {top:0;}
  .hamber_btn > :nth-child(2) {margin-top:-4px;}
  .hamber_btn > :nth-child(3) {margin-top:-8px; top:100%;}

  .hamber_btn > .on:nth-child(1) {top:50%; transform:translateY(-50%) rotate(225deg); transition-delay:0.2s; }
  .hamber_btn > .on:nth-child(2) {opacity:0; transform:translateX(50px);}
  .hamber_btn > .on:nth-child(3) {margin-top:0; top:50%; transform:translateY(-50%) rotate(-225deg); transition-delay:0.2s; }
}